@function random-hex() {
    $rgb: '';
    $i: 6;

    @while $i >0 {
        $hex-unit: random(16) - 1;
        $letters: A,
        B,
        C,
        D,
        E,
        F;

        @if $hex-unit >9 {
            $hex-unit: nth($letters, ($hex-unit - 9));
        }

        ;
        $rgb: str-insert($rgb, ("" + $hex-unit), 0);
        $i: $i - 1;
    }

    @return unquote("#" +"#{$rgb}");
}

div.col {
    border: 1px solid black;
    padding: 20px;

}



.col {
    $i: 1;

    @while $i<=12 {
        &:nth-child(#{$i}) {

            background-color: random-hex();
            $i: $i+1;
        }
    }
}